.navbar-custom {
    color: #3B2F2F;
}

.navbar-custom .nav-link {
    color: #3B2F2F;
}

.navbar-custom .nav-link.active {
    font-weight: bold;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.hero {
    background: url('../images/hero\ image\ for\ a\ wellness\ website.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: #12b2873c;
}

.hero-heading {
    font-family: 'Handlee', cursive;
    color: #075f109d;
}

.hero-text {
    color: #3c2a15;
}




